#canvas {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}

.description,
.controls {
    background-color: white;
    /* box-sizing: content-box; */
    padding: 10px;
}

.color-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-container .color-input {
    border: none;
    height: 100px;
    width: 100px;
}


.color-container .color-input::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

.color-container .color-input::-webkit-color-swatch, .color-container .color-input::-moz-color-swatch {
    border-radius: 0.25em;
    border: none;
}

/* #202c43 */

/* Move Buttons */
div.moveButtons {
    display: grid;
    
    grid-template-areas:
        '. up .'
        'left . right'
        '. down .';
}

.moveButtons>#up {
    grid-area: up;
}

.moveButtons>#left {
    grid-area: left;
}

.moveButtons>#right {
    grid-area: right;
}

.moveButtons>#down {
    grid-area: down;
}


/* CARD INPUTS */
.backgroundType, .backgroundTypeImg {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.backgroundTypeImg {
    margin-top: 20px;
}

.backgroundType label, .backgroundTypeImg label {
    position:relative;
    display:block;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    height: 100px;
    box-sizing: border-box;
}

.backgroundType input, .backgroundTypeImg input  {
    float:right;

}

.backgroundType label h4, .backgroundTypeImg label h4 {
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
}

label h4 {
    text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;

}

label:has(input[type="radio"]:checked) {
    border: 5px solid black;

}

label[for="imageBackground"] {
    background: url("../images/placeholder-300x200.png") center center;
}

label[for="gradientBackground"] {
    background: linear-gradient(to bottom, blue, yellow);
}

label[for="colorBackground"] {
    background: pink;
}


/* Hides by default - will add the show class when */
.backgroundTypeImg, .backgroundTypeGradient, .backgroundTypeColor {
    /* opacity: 0;
    visibility: hidden; */
    display:none;
}


/* Background Image Options Styling */





/* #modal {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    display: grid;

    grid-template-rows: 90% 10%;

    background-color: rgba(0, 0, 0, 0.75);

    opacity: 0;
    visibility: hidden;
    display:none;

    transition: 0.5s;
} */





/* Aligns the content of the HD image, and sets it to have a maximum height of 95% of its container (to leave a little cushion for spacing) */
/* #modal img {
    width: 75%;
    height: auto;
} */

/* body.modal-open {
    overflow: hidden;
} */

/* This is toggled on and off to show hidden elements */
/* #modal.show, div.show {
    opacity: 1;
    visibility: visible; 
    display:grid;
} */

@media (min-width: 400px) {
    .backgroundType, .backgroundTypeImg {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 650px) {
    .backgroundType, .backgroundTypeImg {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 820px) {
    .backgroundType, .backgroundTypeImg {
        grid-template-columns: repeat(4, 1fr);
    }
}