#canvas {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}

.description,
.controls {
    background-color: white;
    padding: 10px;
}

.color-container {
    display: flex;
    flex-direction: column;
}

.color-container label {
    margin-bottom: 0.5rem;
}

.color-container .color-input {
    border: none;
    min-height: 100px;
    min-width: 100px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}


.color-container .color-input::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

.color-container .color-input::-webkit-color-swatch, .color-container .color-input::-moz-color-swatch {
    border-radius: 0.25em;
    border: none;
}


/* Move Buttons */
div.moveButtons {
    display: grid;
    
    grid-template-areas:
        '. up .'
        'left . right'
        '. down .';
}

.moveButtons>#up {
    grid-area: up;
}

.moveButtons>#left {
    grid-area: left;
}

.moveButtons>#right {
    grid-area: right;
}

.moveButtons>#down {
    grid-area: down;
}


/* CARD INPUTS */
.backgroundType, .backgroundTypeImg {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.backgroundTypeImg {
    margin-top: 20px;
}

.backgroundType label, .backgroundTypeImg label {
    position:relative;
    display:block;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    height: 100px;
    box-sizing: border-box;
}

.backgroundType input, .backgroundTypeImg input  {
    float:right;

}

.backgroundType label h4, .backgroundTypeImg label h4 {
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
}

label:has(input[type="radio"]:checked) {
    border: 5px solid black;

}

label[for="imageBackground"] {
    background: url("/images/og-dashcon-ballpit.jpg") center center;
}

label[for="gradientBackground"] {
    background: linear-gradient(to bottom, blue, yellow);
}

label[for="colorBackground"] {
    background: pink;
}


/* Hides by default - will add the show class when */
.backgroundTypeImg, .backgroundTypeGradient, .backgroundTypeColor {
    /* opacity: 0;
    visibility: hidden; */
    display:none;
}

.hidden {
    display: none;
}


@media (min-width: 400px) {
    .backgroundType, .backgroundTypeImg {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 650px) {
    .backgroundType, .backgroundTypeImg {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 820px) {
    .backgroundType, .backgroundTypeImg {
        grid-template-columns: repeat(4, 1fr);
    }
}